.newsflash_list > .new-item {
    opacity: 1;
    background-color: rgba(192,249,255,0.41);
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px 9px;
    border-radius: 3px;
    padding: 5px !important;
}
